@model KintoneDeployTool.DataAccess.DomainModel.MstKintoneEnviroment

@{
    ViewData["Title"] = "Delete";
}

<h1>kintone環境マスタ(削除)</h1>
<div class="description_under_title">この画面はデプロイの元・先の環境情報のマスタ管理です</div>

<div>
    <h4>MstKintoneEnviroment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnviromentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnviromentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubDomain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubDomain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MstKintoneEnviromentID" />
        <input type="submit" value="削除" class="btn btn-danger" /> |
        <a asp-action="Index">一覧へ戻る</a>
    </form>
</div>
